@import 'helpers/variables.scss';

@import 'typography/typography.scss';

@import 'components/buttons.scss';
@import 'components/game_screen.scss';
@import 'components/info.scss';


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(0, 0%, 50%);
}

main {
  background-color: hsl(0, 0%, 90%);
  margin: 0 auto;
  max-width: 400px;
  min-width: calc(300px + ($base*2));
  padding: $base*2 $base;

  section {
    margin: $base 0;
  }

  @media only screen and (min-width: 800px) {
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
    'header .'
    'screen control';
    margin-top: $base*2;
    max-width: 800px;
    min-width: auto;

    h1 {
      grid-area: header;
    }

    #screen-section {
      grid-area: screen;
    }

    #controller-section {
      align-self: end;
      grid-area: control;
      justify-self: center;

      #keys-info {
        display: block;
      }

      #move-buttons-container {
        margin-top: $base*2;
      }
    }
  }
}