#game-screen-container {
  align-items: center;
  background-color: hsl($green, 0%, 10%);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  #game-screen {
    background-color: hsl($green, 70%, 70%);
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(8, 18px);
    grid-template-rows: repeat(12, 18px);
    justify-content: center; 
    margin: $base 0;
    padding: $base;
    user-select: none;
    width: 70%;
    
    > div {
      justify-self: center;
    }
  }

  #game-respond {
    background-color: hsl($green, 70%, 70%);
    border-radius: 5px;
    height: 70px;
    margin-bottom: $base;
    padding: $base;
    width: 70%;
  }
}